.normal{
    font-family: sans-serif;
    text-align: justify;
    font-size: 120%;
    
}
.titulo{
    font-family:cursive;
    font-synthesis: weight;
    color:rgb(11,202,164);
    text-shadow: 0.1em 0.1em 0.2em black;
}
h1{
    font-kerning: auto;
}
h1,h2,h3,h4{
    text-align: center;
}
.imagen{
    border-radius: 50%;
}
#contenedor{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    background-image: url(./imagenes/logos/fondo2.png);

}

#contenido {
    float: left;
    width: 50%;
    background-color: rgba(0,0,0,0.30);
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20%;   
}
#cabecera{
    width:100%;
    height: 100%;
    background:black;
}
#pie {
    clear: both;
    background-color: rgb(11,202,164);
    float: left;
    width: 100%;
}
* {
    padding: 0;
    margin: 0;
}
header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    z-index: 100; 
}
nav {
    text-align: center;
}
nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
    
    display: inline-block; /*centra la barra*/
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
nav ul li:hover {
    background: rgb(4,65,179);
}
#copyright{
    font-size: 80%;
    font-family: cursive;
    text-align: left;
}
.pieDePagina{
    font-family: cursive;
    font-size: 90%;
    text-align: center;
    font-weight: bold;
    color: black;
}
#botonArriba{
    position: fixed;
    bottom: 1%;
    right: 15%;
}
h2{ font-weight: bold;}
h3{ text-decoration:underline;}
h4{ font-style: italic;}
