.normal{
    font-family: sans-serif;
    text-align: justify;
    font-size: 120%;
    
}
.titulo{
    font-family:cursive;
    font-synthesis: weight;
    color:#87CEFA;
    text-shadow: 0.1em 0.1em 0.2em black;
}
h1{
    font-kerning: auto;
}
.imagen{
    border-radius: 50%;
}