.normal{
    font-family: sans-serif;
    text-align: justify;
    font-size: 1.2em;
    text-indent: 2em;
    line-height: 1.5em;
}
.test{ text-indent: inherit;}
h2{ font-weight: bold;}
h3{ text-decoration:underline;
    color: black;
    text-shadow: 0.18em 0.06em 0.02em rgb(13,115,119);
}
h4{ font-style: italic;
    color: black;
    text-shadow: 0.18em 0.06em 0.02em rgb(13,115,119);
}
.titulo{
    font-family:cursive;
    font-synthesis: weight;
    color:rgb(32,32,32);
    text-shadow: 0.2em 0.12em 0.2em rgb(13,115,119);
    font-family: serif;
}
h1{
    font-kerning: auto;
}
h1,h2,h3,h4{
    text-align: center;
    font-family: serif;
    color: rgb(13,115,119);
    text-shadow: 0.08em 0.01em 0.02em black;
}

.cosas{ text-indent: 0;}
#contenedor{
    width: 84.313em;
    height: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    background-image: url(./imagenes/logos/fondo6.jpg);
    background-attachment: fixed;
}
#contenido {
    float: left;
    width: 50%;
    background-color: rgba(0,0,0,0.30);
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: 20%;   
}
#menu{
    top: 14.688em;
    left: 1.25em;
    width: 11.5em;
    float: left;
    position: fixed;
    border: ridge;
    border-color: black; 
    border-width: 0.3em;
    background-color: rgba(0,0,0,0.7);
    color: aliceblue;
    line-height: 1.7em;
    font-family: sans-serif;
    padding: 1em;
    letter-spacing: 0.0625em;
    box-shadow: 0.4em 0.4em 0.4em black;
    border-radius: 1.25em 1.25em 1.25em 1.25em;
    -moz-border-radius: 1.25em 1.25em 1.25em 1.25em;
    -webkit-border-radius: 1.25em 1.25em 1.25em 1.25em;
}
.tituloMenu{ 
    text-align: center; 
    text-decoration:underline;
    color: white;
    text-shadow: 0.18em 0.06em 0.02em black;
}
#menu a{ text-decoration: none; }
#menu a:link{ color:aliceblue;}
#menu a:visited{color: aliceblue;}
#menu ul {
    padding-left: 1em;
}
#menu ul li a{
    text-decoration: none;
}
#menu ul li a:link{
    color: aliceblue;
}
#menu ul li a:visited{
    color: aliceblue;
}
#cabecera{
    width:84.313em;
    height: 100%;
    background:black;
    padding-top: 4.5%;
}
#pie {
    clear: both;
    background-color: rgba(13,115,119,0.78);
    float: left;
    width: 84.313em;
}
* {
    padding: 0;
    margin: 0;
}
header {
    background: rgba(0,0,0,0.9);
    width: 84.313em;
    z-index: 100; 
    position: fixed;
    top: 0;
}
nav {
    text-align: center;
}
nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
    
    display: inline-block; 
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 1em;
}
nav ul li a {
    display: block;
    padding: 1.25em;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.0625em;
}
nav ul li:hover {
    background: rgb(13,115,119);
}
#copyright{
    font-size: 80%;
    font-family: cursive;
    text-align: left;
}
.pieDePagina{
    font-family: cursive;
    font-size: 90%;
    text-align: center;
    font-weight: bold;
    color: black;
}
#botonArriba{
    position: fixed;
    bottom: 1%;
    right: 15%;
}
/*imagenes estilos*/
.imagenConPie{
    /*clear: left; */
    float: left;
    padding: 0.438em;
}
.imagenConPieDerecha{
    clear: right; 
    float: right;
    padding: 0.438em;
}
.iluminarImagen{
    opacity: 1;
    -webkit-box-reflect: below 0em -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
    -webkit-box-shadow: 0em 0em 1.250em rgba(255,255,255,0.8);
    -moz-box-shadow: 0em 0em 1.250em rgba(255,255,255,0.8);
    box-shadow: 0em 0em 1.250em rgba(255,255,255,0.8);
    border-radius: 0.625em;
    padding: 0.625em;
}
.agrandaImagen:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}
.pieFoto {
padding: 0;
width: 100%;
position: relative;
}
.pieFoto img {
width: 100%;
height: auto;
display: block;
padding: 0;
border-radius: 0.625em;
}
.pieFoto:before {
content: attr(title);
position: absolute;
background: rgba(0, 0, 0, 0.6); /* Color de fondo en RGBA */
color: white; /* Color del texto */
font-size: 0.625em; /* Tamaño del texto */
padding: 0.125em;
right: 0;
bottom: 0;
left: 0;
text-align: left;
z-index: 1;
border-bottom-left-radius: 0.625em;
border-bottom-right-radius: 0.625em;
}
.imagen{
    border-radius: 50%;
}
/*botones*/
button {
 border: none;
 background: rgba(0,0,0,0.8);
 color: white;
 padding: 0.188em;
 font-size: 1em;
 border-radius: 0.313em;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
 width: 5em;
}
button:hover {
 background: rgba(13,115,119,0.78);
 color: rgb(0,0,0);
 box-shadow: inset 0 0 0 0.188em rgb(0,0,0);
}

/*radio*/
input[type='radio']:checked:after {
    width: 0.730em;
    height: 0.730em;
    border-radius: 0.730em;
    top: -0.125em;
    left: -0.063em;
    position: relative;
    background-color: rgb(13,115,119);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.125em solid white;
}

/*test barra vertical*/
.vertical {
	position: fixed; 
	right: 0; 
	top: 200px; 
	z-index: 2000; 
}
.vertical ul {
		list-style: none;
	}
 
.vertical ul li a {
		display: inline-block;
		color:white;
        letter-spacing: 0.0625em;
        font-family:sans-serif;
        font-size: 1em;
        font-weight: bold;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; 
}
.vertical ul li .animacion {
    background:rgb(13,115,119);
} 
 
.vertical ul li a:hover {
		background: #000;
		padding: 13px 35px; 
	}
